!.mvn
!.mvn/*
!.mvn/**
!.mvn/**
### IntelliJ IDEA ###

.idea/*
.idea/runConfigurations
!.idea/runConfigurations/*
.idea
*.iws
*.iml
*.ipr
*.log*
**/.vuepress/dist/**
/out/
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Project exclude paths
**/node_modules/**
